<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatsdue.whatsdue2">

    <!-- These are the bluetooth requirements for the app -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Allows android app to access internet   -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LoginActivity"
            android:label="Login" />

        <!-- Nearby API Key -->
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyD1jU1qJBBJsI-TJU_05I4MwvpqWUh_aaE" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BeaconActivity" />
        <activity
            android:name=".BeaconTestActivity"
            android:label="Beacon Test"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseActivity"
            android:label="Course"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>